#header-phone-bar {
    background-color: rgba(220, 220, 220, 0.9);
    width: 100%;
    top: 0;
    left: 0;
    /* height: 80px; */
    position: fixed;
    margin: 0;
    padding: 15px 10px;
    /* padding-top: 15px; */
    z-index: 100;
}

#header-phone-bar .header-phone-bar-cols {
  padding: 0;
}