html {
  background-color: rgb(250, 250, 250);
  /* background-color: white; */
}

.main-web-layout {
  margin-top: 100px;
  background-color: rgb(250, 250, 250);
  /* background-color: white; */
}

#navbar-icons {
  vertical-align: middle;
  font-size: 1.25rem;
}

.main-row {
  width: 100%;
}

#the-left-col {
  position: fixed;
  top: 100px;
  left: 0;
  /* background-color: rgb(80, 207, 80); */
}

#the-middle-col {
  /* background-color: rgb(235, 147, 147); */
}

#the-right-col {
  padding: 0;
  padding-right: 20px;
  position: fixed;
  top: 100px;
  right: 0;
}
