#auth {
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  box-shadow: 0 0 30px 0 #888;
  border-radius: 20px;
}

#imgContainer {
  /* backgroundColor: #DDD; */
  /* width: 500px; */
  /* height: ; */
  border-radius: 20px;
}

#theImg {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* height: 100%; */
  /* width: 100%; */
}

#theForm {
  background-color: #FFF;
  /* width: 500px; */
  padding: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;    
}
