#auth {
  /* margin: auto; */
  margin-top: 100px;
  /* width: 960px; */
}

#auth-content {
  padding: 0;
  box-shadow: 0 0 20px 0 #888;
  border-radius: 20px;
}

#imgContainer {
  /* backgroundColor: #DDD; */
  /* width: 500px; */
  /* height: ; */
  width: 50%;
  border-radius: 20px;
}

#theImg {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* height: 100%; */
  /* width: 100%; */
}

#theForm {
  background-color: #FFF;
  /* width: 500px; */
  width: 50%;
  padding: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* Media with less than 1200px */
@media (max-width: 1199.98px) {

  #auth {
    margin: 0 10px;
    margin-top: 100px;
  }

  #imgContainer {
    display: none;
  }

  #theForm {    
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

}
